In [2]:
# imports
from fuzzywuzzy import fuzz
import pandas as pd
from postal.parser import parse_address
from postal.expand import expand_address
import pycountry
import spacy
import en_core_web_sm
nlp = en_core_web_sm.load()

/opt/anaconda3/lib/python3.7/site-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [20]:
# create panda dateframe
df = pd.read_csv("GeoCountryCity_v2.csv")
df2 = pd.read_csv("db_synthetic_combined_data.csv")

countryPan = df["country_name"].unique()
countries = countryPan.tolist()
iso = df["country_iso_code"].unique()
iso_codes = iso.tolist()

In [21]:
def countryFinder(address):
    counter = 0
    countriesFound = []

    while counter < 247:
        #this checks if country is in the address, breaks when it finds it
        if fuzz.partial_ratio(countries[counter].lower(), address.lower()) == 100:

            return countries[counter]
        counter += 1
    return "not found"



def isoFinder(address):
    counter = 0
    isoFound = []

    while counter < 247:
        #this checks if country is in the address, breaks when it finds it
        if fuzz.partial_ratio(iso_codes[counter].lower(), address.lower()) == 100:

            return countries[counter]
        counter += 1
    return "not found"

In [22]:
addresses = df2["ex_Ad"]

for address in addresses:
    print(countryFinder(address))

not found
Kuwait
not found
not found
United Kingdom
not found
Uzbekistan
not found
not found
not found
Kuwait
Brazil
Colombia
not found
not found
not found
Italy
not found
Colombia
Brazil
not found
not found
not found
not found
not found
United Kingdom
Thailand
not found
Venezuela
not found
Australia
Chile
China
Germany
South Korea
not found
not found
not found
not found
not found
United States
Denmark
France
United Kingdom
not found
not found
not found
New Zealand
not found
not found
Brazil
not found
not found
not found
Netherlands
Luxembourg
France
Italy
Norway
Russia

In [24]:
df3 = df2.assign(Fuzzy_Wuzzy_libpostal_hybrid=result_list)
df3

,ex_Ad,ex_l1,ex_l2,ex_l3,ex_l4,ex_l5,apart_num,house_num,build_name,street,...,city_town,dist,county,country,postcode,po_box,error,error_desc,tokenised,Fuzzy_Wuzzy_libpostal_hybrid
0,"/22200984 SP 500 FLAGSHIP SL CMDV ONE BIG STREET WORLD T DE CENTER HACKNEY,CA 02411",/22200984,SP 500 FLAGSHIP SL CMDV,ONE BIG STREET WORLD T,DE CENTER,"HACKNEY,CA 02411",NaN,1,NaN,BIG STREET,...,WORLD TRADE CENTER,HACKNEY,CA,NaN,2411,NaN,"2,3,12,7,15","all capital letters, no country, missing parts of word (nonsense words), missing separators (Have only space as delimiter for all), Street same line as name","['/22200984', 'SP', '500', 'FLAGSHIP', 'SL', 'CMDV', 'ONE', 'BIG', 'STREET', 'WORLD', 'T', 'DE', 'CENTER', 'HACKNEY', ',', 'CA', '02411']",canada
1,/201509837 HAROLD STYLES ID NO:011899962278 STREET:5 BLK:2 AREA:SALMIYA KUWAIT,/201509837,HAROLD STYLES,ID NO:011899962278,STREET:5 BLK:2,AREA:SALMIYA KUWAIT,NaN,NaN,NaN,5,...,NaN,Salmiya,NaN,Kuwait,NaN,NaN,"2,13","all capital letters, Delimiter eg. : + capital letters","['/201509837', 'HAROLD', 'STYLES', 'ID', 'NO:011899962278', 'STREET:5', 'BLK:2', 'AREA', ':', 'SALMIYA', 'KUWAIT']",kuwait
2,"/090392853 Jimmy Page 88, Gonghong-daero 66-gal, Gangseo- gu, S eoul,Rep. of KOREA",/090392853,Jimmy Page,"88, Gonghong-daero 66-gal, Gangseo-","gu, S eoul,Rep. of KOREA",NaN,NaN,88,NaN,Gonghong-daero 66-gal,...,Seoul,Gangseo-gu,NaN,Rep. of KOREA,NaN,NaN,7,Broken words,"['/090392853', 'Jimmy', 'Page', '88', ',', 'Gonghong', '-', 'daero', '66-gal', ',', 'Gangseo-', 'gu', ',', 'S', 'eoul', ',', 'Rep', '.', 'of', 'KOREA']",guam
3,/12345678987 WACGROUPPARTYSERVICES 15EAST46THSTREET NEWYORKNY90876,/12345678987,WACGROUPPARTYSERVICES,15EAST46THSTREET,NEWYORKNY90876,NaN,NaN,15,NaN,East 46th street,...,New York,NaN,NaN,NaN,90876,NaN,"1,3","No delimiters, City/Town but no country","['/12345678987', 'WACGROUPPARTYSERVICES', '15EAST46THSTREET', 'NEWYORKNY90876']",not found
4,"/12345678643 JENKINS BEER DISTILLERY (P) LTD NO 9/10 LAKE MN RD 1ST CROSS 3RD ST AGE NEXT T O YHK TRAINIG TRACK PEEN YAMO PORTSMOUTH, HAMPSHIRE, UNITED KINGDOM",/12345678643,JENKINS BEER DISTILLERY (P) LTD,NO 9/10 LAKE MN RD 1ST CROSS 3RD ST,AGE NEXT T O YHK TRAINIG TRACK PEEN,"YAMO PORTSMOUTH, HAMPSHIRE, UNITED KINGDOM",NaN,09-Oct,NaN,Lake mn rd,...,portsmouth,NaN,hampshire,United kingdom,NaN,NaN,"2, 8, 6","All Caps, Non sensical word, Directive key words (instructions)","['/12345678643', 'JENKINS', 'BEER', 'DISTILLERY', '(', 'P', ')', 'LTD', 'NO', '9/10', 'LAKE', 'MN', 'RD', '1ST', 'CROSS', '3RD', 'ST', 'AGE', 'NEXT', 'T', 'O', 'YHK', 'TRAINIG', 'TRACK', 'PEEN', 'YAMO', ' ', 'PORTSMOUTH', ',', 'HAMPSHIRE', ',', 'UNITED', 'KINGDOM']",united kingdom
5,/DE97614666666661104000 SALUNDO BIDUNDE BUEHLSTR. 28 /DE/73563 AALEN,/DE97614666666661104000,SALUNDO BIDUNDE,BUEHLSTR. 28,/DE/73563 AALEN,NaN,NaN,28,NaN,Salundo bidunde buehlstr,...,NaN,NaN,NaN,Denmark,73563,NaN,"2, 15","All Caps, missing separator","['/DE97614666666661104000', 'SALUNDO', 'BIDUNDE', 'BUEHLSTR', '.', '28', '/DE/73563', 'AALEN']",not found
6,/20206840699999960001 BILL MURRAY OLD STREET 144 UZBEKISTAN/TASHKENT PASS:AC007 6969 DOB:04.03.1991,/20206840699999960001,BILL MURRAY OLD STREET,144 UZBEKISTAN/TASHKENT PASS:AC007,6969 DOB:04.03.1991,NaN,NaN,144,NaN,old street,...,Tashkent,NaN,NaN,Uzbekistan,NaN,NaN,"4, 11, 10","Country specific, Sensitive information (Address on same line as sensitive information), Street same line as name","['/20206840699999960001', 'BILL', 'MURRAY', ' ', 'OLD', 'STREET', '144', 'UZBEKISTAN', '/', 'TASHKENT', 'PASS', ':', 'AC007', '6969', 'DOB:04.03.1991']",uzbekistan
7,"SAME DAY RETURN OF FUNDS NEW YORK NEW YORK, NY USA SSN087645 02-FEB-18",SAME DAY RETURN OF FUNDS,NEW YORK,"NEW YORK, NY USA",SSN087645 02-FEB-18,NaN,NaN,NaN,NaN,NaN,...,New York,NaN,NaN,USA,NaN,NaN,"10,14","Sensitive information (Address on different line as sensitive information), dates","['SAME', 'DAY', 'RETURN', 'OF', 'FUNDS', 'NEW', 'YORK', 'NEW', 'YORK', ',', 'NY', 'USA', 'SSN087645', '02-FEB-18']",united states
8,"/1238975987982375 INTERNATIONAL GRASS MANAGEMENT INST ITUTE ATTN: THE DIRECTOR, OPERATIONS DEPARTMENT P.O. BOX 2154COLOMBO",/1238975987982375,INTERNATIONAL GRASS MANAGEMENT INST,ITUTE,"ATTN: THE DIRECTOR, OPERATIONS DEPARTMENT",P.O. BOX 2154COLOMBO,NaN,NaN,NaN,NaN,...,NaN,NaN,Colombo,NaN,P.O. BOX 2154,NaN,"7, 13","Broken words,Delimiter eg. : + capital letters","['/1238975987982375', 'INTERNATIONAL', 'GRASS', 'MANAGEMENT', 'INST', 'ITUTE', 'ATTN', ':', 'THE', 'DIRECTOR', ',', 'OPERATIONS', 'DEPARTMENT', 'P.O.', 'BOX', '2154COLOMBO']",not found
9,/GR10192389079874029834 G.G. PANAGOULARI HELLENIC PETROLEUM EM E.E. F. IONIA YEET. 970B T.TH.172 1 0 0,/GR10192389079874029834,G.G. PANAGOULARI HELLENIC PETROLEUM EM,E.E. F. IONIA YEET. 970B T.TH.172,1 0 0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,9,abbreviations,"['/GR10192389079874029834', 'G.G.', 'PANAGOULARI', 'HELLENIC', 'PETROLEUM', 'EM', 'E.E.', 'F.', 'IONIA', 'YEET', '.', '970B', 'T.TH.172', '1', '0', '0']",not found
10,"/1245603842435 Snow White Dry Cleaning 1 street from Life Science Collage Street:19, Block:1, Kuwait",/1245603842435,Snow White Dry Cleaning,1 street from Life Science Collage,"Street:19, Block:1, Kuwait",NaN,NaN,NaN,NaN,19,...,NaN,NaN,NaN,Kuwait,NaN,NaN,"8,13",Directive key words (instructions),"['/1245603842435', 'Snow', 'White', 'Dry', 'Cleaning', '1', 'street', 'from', 'Life', 'Science', 'Collage', 'Street:19', ',', 'Block:1', ',', 'Kuwait']",kuwait
11,"/DE269853532856985123569 Carlos Fernandez Av. nossa seaora auziliadora, apart ament 197a, Belo Ho rizonte, Brazil 31960-540",/DE269853532856985123569,Carlos Fernandez,"Av. nossa seaora auziliadora, apart","ament 197a, Belo Ho rizonte, Brazil",31960-540,197a,NaN,NaN,Nossa seaora auziliadora,...,Belo Horizonte,NaN,NaN,Brazil,NaN,NaN,"7,9","Broken words, Road name no vowels OR abbreviations","['/DE269853532856985123569', 'Carlos', 'Fernandez', 'Av', '.', 'nossa', 'seaora', 'auziliadora', ',', 'apart', 'ament', '197a', ',', 'Belo', 'Ho', 'rizonte', ',', 'Brazil', '31960', '-', '540']",brazil
12,"/KE514383677531638 DROGUERIA NUEVA GLORIA SUR ORIENTAL DG 51 S, NUMERO 10 85 E BOGOTA, COLOMBIA",/KE514383677531638,DROGUERIA NUEVA GLORIA SUR ORIENTAL,"DG 51 S, NUMERO 10 85 E","BOGOTA, COLOMBIA",NaN,NaN,10 85 E,NaN,DG 51 S,...,Bogota,NaN,NaN,Colombia,NaN,NaN,"2,6","All Caps, Nonsensical words","['/KE514383677531638', 'DROGUERIA', 'NUEVA', 'GLORIA', 'SUR', 'ORIENTAL', 'DG', '51', 'S', ',', 'NUMERO', '10', '85', 'E', 'BOGOTA', ',', 'COLOMBIA']",colombia
13,SAMEDAYRETURNOFFUNDS SWALICELN6150 UNIT104APORTLANDUSA 97007,SAMEDAYRETURNOFFUNDS,SWALICELN6150,UNIT104APORTLANDUSA,97007,NaN,104A,6150,NaN,SW ALICE LN,...,Portland,NaN,NaN,USA,NaN,NaN,"1,7,2","No delimiters, All caps, Broken Words","['SAMEDAYRETURNOFFUNDS', 'SWALICELN6150', 'UNIT104APORTLANDUSA', '97007']",not found
14,"/PS851532255254 Mike Porter unit D-12, no 250, NW Sau vie Island RD P ortland, US, PASS: ALC236753",/PS851532255254,Mike Porter,"unit D-12, no 250, NW Sau",vie Island RD,"P ortland, US, PASS: ALC236753",D-12,250,NaN,NW Sauvie Island,...,Portland,NaN,NaN,USA,NaN,NaN,"7,9,10","Broken words, Road name no vowelsOR abbreviations, Sensitive information(Address on same line as sensitive information)","['/PS851532255254', 'Mike', 'Porter', 'unit', 'D-12', ',', 'no', '250', ',', 'NW', 'Sau', 'vie', 'Island', 'RD', 'P', 'ortland', ',', 'US', ',', 'PASS', ':', 'ALC236753']",united states
15,"/LG7963772039453845 CROSSRISING RUA:PAULOJOSEDASILVA,CASA:59,AMOKES LISBOAPORTU",/LG7963772039453845,CROSSRISING,"RUA:PAULOJOSEDASILVA,CASA:59,AMOKES",LISBOAPORTU,NaN,NaN,59,NaN,PAULO JOSE DA SILVA,...,LISBOA,NaN,NaN,Portugal,NaN,NaN,"2,6,12,13","Upper, NonSensical Word, Data Loss,Delimiter e.g. : + number","['/LG7963772039453845', 'CROSSRISING', 'RUA', ':', 'PAULOJOSEDASILVA', ',', 'CASA:59,AMOKES', 'LISBOAPORTU']",not found
16,"/20735237119 Luis Ferrari Via Martiri del Padule, 367a Next to Zodda Cafe, 51036.0 Larciano, Italy",/20735237119,Luis Ferrari,"Via Martiri del Padule, 367a","Next to Zodda Cafe, 51036.0","Larciano, Italy",NaN,367a,NaN,Martiri del Padule,...,Larciano,NaN,NaN,Italy,51036,NaN,8,Directive key words (instructions),"['/20735237119', 'Luis', 'Ferrari', 'Via', 'Martiri', 'del', 'Padule', ',', '367a', 'Next', 'to', 'Zodda', 'Cafe', ',', '51036.0', 'Larciano', ',', 'Italy']",italy
17,"/ZG284980033088 Georgio Lucca UNIT 301 949, NW OVERTON ST Portland, USA",/ZG284980033088,Georgio Lucca UNIT 301,"949, NW OVERTON ST","Portland, USA",NaN,NaN,949,NaN,NW OVERTON ST,...,Portland,NaN,NaN,USA,NaN,NaN,11,Street same line as name,"['/ZG284980033088', 'Georgio', 'Lucca', 'UNIT', '301', '949', ',', 'NW', 'OVERTON', 'ST', 'Portland', ',', 'USA']",usa
18,"/916267963767 Martin Lopez CL 62 S, 81D 73 Colombia, 15-NOV-2017",/916267963767,Martin Lopez,"CL 62 S, 81D 73","Colombia, 15-NOV-2017",NaN,NaN,81D 73,NaN,CL 62 S,...,NaN,NaN,NaN,Colombia,NaN,NaN,14,dates,"['/916267963767', 'Martin', 'Lopez', 'CL', '62', 'S', ',', '81D', '73', 'Colombia', ',', '15-NOV-2017']",colombia
19,SAME DAY RETURN OF FUNDS Jose Oliveira Rua Ursula Paulino 2060 Brazilia Brazil 30580-002,SAME DAY RETURN OF FUNDS,Jose Oliveira,Rua Ursula Paulino 2060,Brazilia Brazil 30580-002,NaN,NaN,2060,NaN,Ursula Paulino,...,Brazilia,NaN,NaN,Brazil,NaN,NaN,15,missing separators (Have only space as delimiter for all),"['SAME', 'DAY', 'RETURN', 'OF', 'FUNDS', 'Jose', 'Oliveira', 'Rua', 'Ursula', 'Paulino', '2060', 'Brazilia', 'Brazil', '30580', '-', '002']",brazil
20,"/55314827347322078210 ChrisHarroldMobileMechanic Flat8,10BondStreet LondonW1S1SP14-OCT-2015",/55314827347322078210,ChrisHarroldMobileMechanic,"Flat8,10BondStreet",LondonW1S1SP14-OCT-2015,NaN,8,10,NaN,Bond,...,London,NaN,NaN,NaN,W1S1SP,NaN,"1,14","No delimiters, dates","['/55314827347322078210', 'ChrisHarroldMobileMechanic', 'Flat8,10BondStreet', 'LondonW1S1SP14-OCT-2015']",not found
21,"/163741936 Heathrow Taxis 27 Green Road Nostank London, E6 10LT",/163741936,Heathrow Taxis,27 Green Road Nostank,"London, E6 10LT",NaN,NaN,27,NaN,Green,...,London,NaN,NaN,NaN,E6 10LT,NaN,"3,4,6","No country, Postcode country Specific, Nonsensical word","['/163741936', 'Heathrow', 'Taxis', '27', 'Green', 'Road', 'Nostank', 'London', ',', 'E6', '10LT']",not found
22,"/32981553928063 MIKESCOTT APT9,1490,NW189T HWAY,TURNLEFTON2NDGATENEXTTOM ILANRESTAURANT,NEWYORK,NY",/32981553928063,MIKESCOTT,"APT9,1490,NW189T","HWAY,TURNLEFTON2NDGATENEXTTOM","ILANRESTAURANT,NEWYORK,NY",9,1490,NaN,NW 189TH WAY,...,NEW YORK,NaN,NY,NaN,NaN,NaN,"1,7,8","no spaces, Broken Words so need to amend, Directive key words (instructions)","['/32981553928063', 'MIKESCOTT', 'APT9,1490,NW189', 'T', 'HWAY', ',', 'TURNLEFTON2NDGATENEXTTOM', 'ILANRESTAURANT', ',', 'NEWYORK', ',', 'NY']",not found
23,"/HE24931526863494 Mcrwv Sltns SE Pinehurst Ave, Interve Dallas, US",/HE24931526863494,Mcrwv Sltns,"SE Pinehurst Ave, Interve","Dallas, US",NaN,NaN,NaN,NaN,SE Pinehurst Ave,...,Dallas,NaN,NaN,US,NaN,NaN,"6,9,12","non sensical word, road abbreviated or abbreviations add, Data Loss","['/HE24931526863494', 'Mcrwv', 'Sltns', 'SE', 'Pinehurst', 'Ave', ',', 'Interve', 'Dallas', ',', 'US']",united states
24,"/33518051 UMBRELLA PROJECT 151 DALE ST, LIVERPOOL SHOPERTURN, L2 2AH",/33518051,UMBRELLA PROJECT,"151 DALE ST, LIVERPOOL","SHOPERTURN, L2 2AH",NaN,NaN,151,NaN,DALE,...,LIVERPOOL,NaN,NaN,NaN,L2 2AH,NaN,"2,6,3,9","Upper, No country, non sensical word, road abbreviated or abbreviations add","['/33518051', 'UMBRELLA', 'PROJECT', '151', 'DALE', 'ST', ',', 'LIVERPOOL', 'SHOPERTURN', ',', 'L2', '2AH']",sao tome and principe
25,/655040557155379399 Poppies Photography NO:10 ST:Rifle St H. R. L. United Kingdom SSN087645,/655040557155379399,Poppies Photography,NO:10 ST:Rifle St,H. R. L. United Kingdom SSN087645,NaN,NaN,10,NaN,Rifle,...,NaN,NaN,NaN,NaN,NaN,NaN,"9,10,13,15","road abbreviated or abbreviations add, Sensitive information same line as address, Delimiter eg. : + Capital letter","['/655040557155379399', 'Poppies', 'Photography', 'NO:10', 'ST', ':', 'Rifle', 'St', 'H.', 'R.', 'L.', 'United', 'Kingdom', 'SSN087645']",united kingdom
26,/PE63161238050 Advance Agro Public Co. Ltd. Tha Tum Si Maha Phot Dist Prachin Buri 25140 Thailand 01-NOV-2014,/PE63161238050,Advance Agro Public Co. Ltd.,Tha Tum Si Maha Phot,Dist Prachin Buri,25140 Thailand 01-NOV-2014,NaN,NaN,NaN,NaN,...,Tha Tum,Si Maha Phot,Prachin Buri,Thailand,25140,NaN,"4,9,14,15","POSTCODE, dtype: int64, road abbreviated or abbreviations add, dates,missing separators (Have only space as delimiter for all)","['/PE63161238050', 'Advance', 'Agro', 'Public', 'Co.', 'Ltd.', 'Tha', 'Tum', 'Si', 'Maha', 'Phot', 'Dist', 'Prachin', 'Buri', '25140', 'Thailand', '01-NOV-2014']",thailand
27,"/81557745887 Inficon Holding AG 2 Technology Pl, East Syrac use, 13057, USA, 01/11/1987",/81557745887,Inficon Holding AG,"2 Technology Pl,",East Syrac,"use, 13057, USA, 01/11/1987",NaN,2,Technology Pl,NaN,...,East Syracuse,NaN,NaN,USA,13057,NaN,"4,5,7,14","POSTCODE, dtype: int64, No city, Broken Words so need to amend, Dates","['/81557745887', 'Inficon', 'Holding', 'AG', '2', 'Technology', 'Pl', ',', 'East', 'Syrac', 'use', ',', '13057', ',', 'USA', ',', '01/11/1987']",united states
28,"/596648777 Cmpn Annm Ncnl Tlfns d Vnzl S.A. Calle:alencia, Ciudad:Puerto Cab ello, 2050, State:Carabobo Venezuela",/596648777,Cmpn Annm Ncnl Tlfns d Vnzl S.A.,"Calle:alencia, Ciudad:Puerto Cab","ello, 2050, State:Carabobo",Venezuela,NaN,NaN,NaN,Valencia,...,Pueblo Cabello,NaN,Carabobo,Venezuela,2050,NaN,"7,12,13","Delimiter eg. : + number, Broken Words so need to amend, Data Loss","['/596648777', 'Cmpn', 'Annm', 'Ncnl', 'Tlfns', 'd', 'Vnzl', 'S.A.', 'Calle', ':', 'alencia', ',', 'Ciudad', ':', 'Puerto', 'Cab', 'ello', ',', '2050', ',', 'State', ':', 'Carabobo', 'Venezuela']",venezuela
29,/QM10481933092 Rada Electronic Industries Ltd. 100 20511 Seneca Meadows Pkwy turn to avenue next to track Licarpet lwr Germantown MD 20876,/QM10481933092,Rada Electronic Industries Ltd.,100 20511 Seneca Meadows Pkwy turn,to avenue next to track Licarpet,lwr Germantown MD 20876,100,20511,NaN,Seneca Meadows Pkwy,...,Germantown,NaN,MD,NaN,20876,NaN,"3,6,8,15","No country, Remove e/ non sensical word, Directive key words (instructions), missing separators (Have only space as delimiter for all)","['/QM10481933092', 'Rada', 'Electronic', 'Industries', 'Ltd.', '100', '20511', 'Seneca', 'Meadows', 'Pkwy', 'turn', ' ', 'to', 'avenue', 'next', 'to', 'track', 'Licarpet', ' ', 'lwr', 'Germantown', 'MD', '20876']","moldova, republic of"
30,SAME DAY RETURN OF FUNDS Rio Tinto Ltd. 360 Collins St Melbourne VIC 3000 Australia,SAME DAY RETURN OF FUNDS,Rio Tinto Ltd.,360 Collins St Melbourne,VIC 3000 Australia,NaN,NaN,360,NaN,Collins Street,...,Melbourne,NaN,VIC,Australia,3000,NaN,"7,15","Broken Words so need to amend, missing separators (Have only space as delimiter for all)","['SAME', 'DAY', 'RETURN', 'OF', 'FUNDS', 'Rio', 'Tinto', 'Ltd.', '360', 'Collins', 'St', 'Melbourne', 'VIC', '3000', 'Australia']",australia
31,"/HI8858576602 SANTA ISABEL S.A, 10 CALLE STA ISABEL SANTIAGO CHILE",/HI8858576602,"SANTA ISABEL S.A, 10",CALLE STA ISABEL,SANTIAGO CHILE,NaN,NaN,10,NaN,Santa Isabel,...,Santiago,NaN,NaN,Chile,NaN,NaN,"2,11","Upper, Street same line as name","['/HI8858576602', 'SANTA', 'ISABEL', 'S.A', ',', '10', 'CALLE', 'STA', 'ISABEL', ' ', 'SANTIAGO', 'CHILE']",chile
32,"/524834102338237 Jilin Chemical Industrial Co. Ltd. 699 3rd Rd, Changyi Qu, Jilin Shi China, PASS:LOt2r93!",/524834102338237,Jilin Chemical Industrial Co. Ltd.,"699 3rd Rd, Changyi Qu, Jilin Shi","China, PASS:LOt2r93!",NaN,NaN,699,NaN,3rd,...,Jilin Shi,Changyi Qu,NaN,China,NaN,NaN,"6,10","non sensical word, Sensitive information same line as address","['/524834102338237', 'Jilin', 'Chemical', 'Industrial', 'Co.', 'Ltd.', '699', '3rd', 'Rd', ',', 'Changyi', 'Qu', ',', 'Jilin', 'Shi', 'China', ',', 'PASS', ':', 'LOt2r93', '!']",china
33,"/0379194303 iXOS Software Aktiengesellschaft, Werner-von-Siemens-Ring, 85630, Mirefrequer Grasbrunn, Germany",/0379194303,"iXOS Software Aktiengesellschaft,","Werner-von-Siemens-Ring, 85630,","Mirefrequer Grasbrunn, Germany",NaN,NaN,20,NaN,Werner-von-Siemens-Ring,...,NaN,Grasbrunn,NaN,Germany,85630,NaN,"6,7,11","non sensical word, Broken words, Street same line as name","['/0379194303', 'iXOS', 'Software', 'Aktiengesellschaft', ',', 'Werner', '-', 'von', '-', 'Siemens', '-', 'Ring', ',', '85630', ',', 'Mirefrequer', 'Grasbrunn', ',', 'Germany']",germany
34,"/965306805 Kookmin Bank NUM:4 STREET:Hoenamu-ro, DIST:Yongsan-gu, Seoul, South Korea",/965306805,Kookmin Bank,"NUM:4 STREET:Hoenamu-ro,","DIST:Yongsan-gu, Seoul, South Korea",NaN,NaN,4,NaN,Hoenamu-ro,...,Seoul,Yongsan-gu,NaN,South Korea,NaN,NaN,13,Delimiter eg. : + number OR Delimiter e.g. : + character,"['/965306805', 'Kookmin', 'Bank', 'NUM:4', 'STREET', ':', 'Hoenamu', '-', 'ro', ',', 'DIST', ':', 'Yongsan', '-', 'gu', ',', 'Seoul', ',', 'South', 'Korea']",south korea
35,"/DK5058739105 Imax Corp., 6685 S Padre Isla nd Dr, Corpus Christi, USA",/DK5058739105,"Imax Corp., 6685",S Padre Isla,"nd Dr, Corpus Christi, USA",NaN,NaN,NaN,NaN,6685,...,Corpus Christi,S Padre Island Dr,NaN,USA,NaN,NaN,"5,7,11","No city, Broken Words so need to amend, Street same line as name","['/DK5058739105', 'Imax', 'Corp.', ',', '6685', 'S', 'Padre', 'Isla', 'nd', 'Dr', ',', 'Corpus', 'Christi', ',', 'USA']",usa
36,/8147938496534688 KianGuest 124LindowDrNewYork NY13905USA,/8147938496534688,KianGuest,124LindowDrNewYork,NY13905USA,NaN,NaN,123,NaN,Lindow Dr,...,New York,NaN,NaN,USA,NY13905,NaN,1,no delimiter,"['/8147938496534688', 'KianGuest', '124LindowDrNewYork', 'NY13905USA']",not found
37,/189494910052271 LUCIANO FLYNN 535 SOUTH ST NY NEW YORK 13746 USA,/189494910052271,LUCIANO FLYNN,535 SOUTH ST NY,NEW YORK 13746 USA,NaN,NaN,535,NaN,South street,...,New York,NaN,NaN,USA,NY13746,NaN,2,all capital letters,"['/189494910052271', 'LUCIANO', 'FLYNN', '535', 'SOUTH', 'ST', 'NY', 'NEW', 'YORK', '13746', 'USA']",usa
38,"/1811328485809 Wimbledon Art Studios 10, Riverside Rd London, SW17 0BB",/1811328485809,Wimbledon Art Studios,"10, Riverside Rd","London, SW17 0BB",NaN,NaN,10,NaN,Riverside Rd,...,London,NaN,NaN,NaN,SW17 0BB,NaN,3,no country,"['/1811328485809', 'Wimbledon', 'Art', 'Studios', '10', ',', 'Riverside', 'Rd', 'London', ',', 'SW17', '0BB']",not found
39,/GX612635189402066052 Ms T. Globelle Paragon Productions/ PO Box 5404/ Los Angeles/ CA 90210/ USA,/GX612635189402066052,Ms T. Globelle,Paragon Productions/ PO Box 5404/,Los Angeles/ CA 90210/ USA,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Los Angeles,USA,NaN,5404,4,po box and country,"['/GX612635189402066052', 'Ms', 'T.', 'Globelle', 'Paragon', 'Productions/', 'PO', 'Box', '5404/', 'Los', 'Angeles/', 'CA', '90210/', 'USA']",united states
40,"/04309517808710169108 Google 601, N 34th St WA 98103, United States",/04309517808710169108,Google,"601, N 34th St","WA 98103, United States",NaN,NaN,601,NaN,North 34th street,...,NaN,NaN,NaN,United states,WA 98103,NaN,5,no city,"['/04309517808710169108', 'Google', '601', ',', 'N', '34th', 'St', 'WA', '98103', ',', 'United', 'States']",united states
41,/101286376861 Charlottenborg Palace Nyhavn 1051 Kbenhavn K Denmark,/101286376861,Charlottenborg Palace,Nyhavn,1051 Kbenhavn K Denmark,NaN,NaN,2,Charlottenborg Palace,Nyhavn,...,NaN,Kbenhavn K,NaN,Denmark,1051,NaN,7,missing parts of word (nonsense words),"['/101286376861', 'Charlottenborg', 'Palace', 'Nyhavn', '1051', 'Kbenhavn', 'K', 'Denmark']",denmark
42,/ND36977947610520435654 Disneyla nd Paris Boulevard de Parc 77700 Coupvray France,/ND36977947610520435654,Disneyla nd Paris,Boulevard de Parc 77700 Coupvray,France,NaN,NaN,NaN,DisneyLand Paris,Boulevard de Parc,...,NaN,NaN,Coupvray,France,777000,NaN,6,random spaces (nonsense words),"['/ND36977947610520435654', 'Disneyla', 'nd', 'Paris', 'Boulevard', 'de', 'Parc', '77700', 'Coupvray', 'France']",france

In [25]:
def get_country(address):
    
    found_matches = []

    a = pycountry.countries.get(name = address)
    b = pycountry.countries.get(alpha_3 = address)
    c = pycountry.countries.get(alpha_2 = address)
    if address == "uk":
        return "United Kingdom"
    elif a != None:
        found_matches.append((a.name))
    elif b != None:
        found_matches.append((b.name)) 
    elif c != None:
        found_matches.append((c.name)) 
    
    if found_matches != []:
        return found_matches
    else:
        return address

In [26]:
df3['test'] = df3['Fuzzy_Wuzzy_libpostal_hybrid'].apply(get_country)
df3

,ex_Ad,ex_l1,ex_l2,ex_l3,ex_l4,ex_l5,apart_num,house_num,build_name,street,...,dist,county,country,postcode,po_box,error,error_desc,tokenised,Fuzzy_Wuzzy_libpostal_hybrid,test
0,"/22200984 SP 500 FLAGSHIP SL CMDV ONE BIG STREET WORLD T DE CENTER HACKNEY,CA 02411",/22200984,SP 500 FLAGSHIP SL CMDV,ONE BIG STREET WORLD T,DE CENTER,"HACKNEY,CA 02411",NaN,1,NaN,BIG STREET,...,HACKNEY,CA,NaN,2411,NaN,"2,3,12,7,15","all capital letters, no country, missing parts of word (nonsense words), missing separators (Have only space as delimiter for all), Street same line as name","['/22200984', 'SP', '500', 'FLAGSHIP', 'SL', 'CMDV', 'ONE', 'BIG', 'STREET', 'WORLD', 'T', 'DE', 'CENTER', 'HACKNEY', ',', 'CA', '02411']",canada,[Canada]
1,/201509837 HAROLD STYLES ID NO:011899962278 STREET:5 BLK:2 AREA:SALMIYA KUWAIT,/201509837,HAROLD STYLES,ID NO:011899962278,STREET:5 BLK:2,AREA:SALMIYA KUWAIT,NaN,NaN,NaN,5,...,Salmiya,NaN,Kuwait,NaN,NaN,"2,13","all capital letters, Delimiter eg. : + capital letters","['/201509837', 'HAROLD', 'STYLES', 'ID', 'NO:011899962278', 'STREET:5', 'BLK:2', 'AREA', ':', 'SALMIYA', 'KUWAIT']",kuwait,[Kuwait]
2,"/090392853 Jimmy Page 88, Gonghong-daero 66-gal, Gangseo- gu, S eoul,Rep. of KOREA",/090392853,Jimmy Page,"88, Gonghong-daero 66-gal, Gangseo-","gu, S eoul,Rep. of KOREA",NaN,NaN,88,NaN,Gonghong-daero 66-gal,...,Gangseo-gu,NaN,Rep. of KOREA,NaN,NaN,7,Broken words,"['/090392853', 'Jimmy', 'Page', '88', ',', 'Gonghong', '-', 'daero', '66-gal', ',', 'Gangseo-', 'gu', ',', 'S', 'eoul', ',', 'Rep', '.', 'of', 'KOREA']",guam,[Guam]
3,/12345678987 WACGROUPPARTYSERVICES 15EAST46THSTREET NEWYORKNY90876,/12345678987,WACGROUPPARTYSERVICES,15EAST46THSTREET,NEWYORKNY90876,NaN,NaN,15,NaN,East 46th street,...,NaN,NaN,NaN,90876,NaN,"1,3","No delimiters, City/Town but no country","['/12345678987', 'WACGROUPPARTYSERVICES', '15EAST46THSTREET', 'NEWYORKNY90876']",not found,not found
4,"/12345678643 JENKINS BEER DISTILLERY (P) LTD NO 9/10 LAKE MN RD 1ST CROSS 3RD ST AGE NEXT T O YHK TRAINIG TRACK PEEN YAMO PORTSMOUTH, HAMPSHIRE, UNITED KINGDOM",/12345678643,JENKINS BEER DISTILLERY (P) LTD,NO 9/10 LAKE MN RD 1ST CROSS 3RD ST,AGE NEXT T O YHK TRAINIG TRACK PEEN,"YAMO PORTSMOUTH, HAMPSHIRE, UNITED KINGDOM",NaN,09-Oct,NaN,Lake mn rd,...,NaN,hampshire,United kingdom,NaN,NaN,"2, 8, 6","All Caps, Non sensical word, Directive key words (instructions)","['/12345678643', 'JENKINS', 'BEER', 'DISTILLERY', '(', 'P', ')', 'LTD', 'NO', '9/10', 'LAKE', 'MN', 'RD', '1ST', 'CROSS', '3RD', 'ST', 'AGE', 'NEXT', 'T', 'O', 'YHK', 'TRAINIG', 'TRACK', 'PEEN', 'YAMO', ' ', 'PORTSMOUTH', ',', 'HAMPSHIRE', ',', 'UNITED', 'KINGDOM']",united kingdom,[United Kingdom]
5,/DE97614666666661104000 SALUNDO BIDUNDE BUEHLSTR. 28 /DE/73563 AALEN,/DE97614666666661104000,SALUNDO BIDUNDE,BUEHLSTR. 28,/DE/73563 AALEN,NaN,NaN,28,NaN,Salundo bidunde buehlstr,...,NaN,NaN,Denmark,73563,NaN,"2, 15","All Caps, missing separator","['/DE97614666666661104000', 'SALUNDO', 'BIDUNDE', 'BUEHLSTR', '.', '28', '/DE/73563', 'AALEN']",not found,not found
6,/20206840699999960001 BILL MURRAY OLD STREET 144 UZBEKISTAN/TASHKENT PASS:AC007 6969 DOB:04.03.1991,/20206840699999960001,BILL MURRAY OLD STREET,144 UZBEKISTAN/TASHKENT PASS:AC007,6969 DOB:04.03.1991,NaN,NaN,144,NaN,old street,...,NaN,NaN,Uzbekistan,NaN,NaN,"4, 11, 10","Country specific, Sensitive information (Address on same line as sensitive information), Street same line as name","['/20206840699999960001', 'BILL', 'MURRAY', ' ', 'OLD', 'STREET', '144', 'UZBEKISTAN', '/', 'TASHKENT', 'PASS', ':', 'AC007', '6969', 'DOB:04.03.1991']",uzbekistan,[Uzbekistan]
7,"SAME DAY RETURN OF FUNDS NEW YORK NEW YORK, NY USA SSN087645 02-FEB-18",SAME DAY RETURN OF FUNDS,NEW YORK,"NEW YORK, NY USA",SSN087645 02-FEB-18,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,USA,NaN,NaN,"10,14","Sensitive information (Address on different line as sensitive information), dates","['SAME', 'DAY', 'RETURN', 'OF', 'FUNDS', 'NEW', 'YORK', 'NEW', 'YORK', ',', 'NY', 'USA', 'SSN087645', '02-FEB-18']",united states,[United States]
8,"/1238975987982375 INTERNATIONAL GRASS MANAGEMENT INST ITUTE ATTN: THE DIRECTOR, OPERATIONS DEPARTMENT P.O. BOX 2154COLOMBO",/1238975987982375,INTERNATIONAL GRASS MANAGEMENT INST,ITUTE,"ATTN: THE DIRECTOR, OPERATIONS DEPARTMENT",P.O. BOX 2154COLOMBO,NaN,NaN,NaN,NaN,...,NaN,Colombo,NaN,P.O. BOX 2154,NaN,"7, 13","Broken words,Delimiter eg. : + capital letters","['/1238975987982375', 'INTERNATIONAL', 'GRASS', 'MANAGEMENT', 'INST', 'ITUTE', 'ATTN', ':', 'THE', 'DIRECTOR', ',', 'OPERATIONS', 'DEPARTMENT', 'P.O.', 'BOX', '2154COLOMBO']",not found,not found
9,/GR10192389079874029834 G.G. PANAGOULARI HELLENIC PETROLEUM EM E.E. F. IONIA YEET. 970B T.TH.172 1 0 0,/GR10192389079874029834,G.G. PANAGOULARI HELLENIC PETROLEUM EM,E.E. F. IONIA YEET. 970B T.TH.172,1 0 0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,9,abbreviations,"['/GR10192389079874029834', 'G.G.', 'PANAGOULARI', 'HELLENIC', 'PETROLEUM', 'EM', 'E.E.', 'F.', 'IONIA', 'YEET', '.', '970B', 'T.TH.172', '1', '0', '0']",not found,not found
10,"/1245603842435 Snow White Dry Cleaning 1 street from Life Science Collage Street:19, Block:1, Kuwait",/1245603842435,Snow White Dry Cleaning,1 street from Life Science Collage,"Street:19, Block:1, Kuwait",NaN,NaN,NaN,NaN,19,...,NaN,NaN,Kuwait,NaN,NaN,"8,13",Directive key words (instructions),"['/1245603842435', 'Snow', 'White', 'Dry', 'Cleaning', '1', 'street', 'from', 'Life', 'Science', 'Collage', 'Street:19', ',', 'Block:1', ',', 'Kuwait']",kuwait,[Kuwait]
11,"/DE269853532856985123569 Carlos Fernandez Av. nossa seaora auziliadora, apart ament 197a, Belo Ho rizonte, Brazil 31960-540",/DE269853532856985123569,Carlos Fernandez,"Av. nossa seaora auziliadora, apart","ament 197a, Belo Ho rizonte, Brazil",31960-540,197a,NaN,NaN,Nossa seaora auziliadora,...,NaN,NaN,Brazil,NaN,NaN,"7,9","Broken words, Road name no vowels OR abbreviations","['/DE269853532856985123569', 'Carlos', 'Fernandez', 'Av', '.', 'nossa', 'seaora', 'auziliadora', ',', 'apart', 'ament', '197a', ',', 'Belo', 'Ho', 'rizonte', ',', 'Brazil', '31960', '-', '540']",brazil,[Brazil]
12,"/KE514383677531638 DROGUERIA NUEVA GLORIA SUR ORIENTAL DG 51 S, NUMERO 10 85 E BOGOTA, COLOMBIA",/KE514383677531638,DROGUERIA NUEVA GLORIA SUR ORIENTAL,"DG 51 S, NUMERO 10 85 E","BOGOTA, COLOMBIA",NaN,NaN,10 85 E,NaN,DG 51 S,...,NaN,NaN,Colombia,NaN,NaN,"2,6","All Caps, Nonsensical words","['/KE514383677531638', 'DROGUERIA', 'NUEVA', 'GLORIA', 'SUR', 'ORIENTAL', 'DG', '51', 'S', ',', 'NUMERO', '10', '85', 'E', 'BOGOTA', ',', 'COLOMBIA']",colombia,[Colombia]
13,SAMEDAYRETURNOFFUNDS SWALICELN6150 UNIT104APORTLANDUSA 97007,SAMEDAYRETURNOFFUNDS,SWALICELN6150,UNIT104APORTLANDUSA,97007,NaN,104A,6150,NaN,SW ALICE LN,...,NaN,NaN,USA,NaN,NaN,"1,7,2","No delimiters, All caps, Broken Words","['SAMEDAYRETURNOFFUNDS', 'SWALICELN6150', 'UNIT104APORTLANDUSA', '97007']",not found,not found
14,"/PS851532255254 Mike Porter unit D-12, no 250, NW Sau vie Island RD P ortland, US, PASS: ALC236753",/PS851532255254,Mike Porter,"unit D-12, no 250, NW Sau",vie Island RD,"P ortland, US, PASS: ALC236753",D-12,250,NaN,NW Sauvie Island,...,NaN,NaN,USA,NaN,NaN,"7,9,10","Broken words, Road name no vowelsOR abbreviations, Sensitive information(Address on same line as sensitive information)","['/PS851532255254', 'Mike', 'Porter', 'unit', 'D-12', ',', 'no', '250', ',', 'NW', 'Sau', 'vie', 'Island', 'RD', 'P', 'ortland', ',', 'US', ',', 'PASS', ':', 'ALC236753']",united states,[United States]
15,"/LG7963772039453845 CROSSRISING RUA:PAULOJOSEDASILVA,CASA:59,AMOKES LISBOAPORTU",/LG7963772039453845,CROSSRISING,"RUA:PAULOJOSEDASILVA,CASA:59,AMOKES",LISBOAPORTU,NaN,NaN,59,NaN,PAULO JOSE DA SILVA,...,NaN,NaN,Portugal,NaN,NaN,"2,6,12,13","Upper, NonSensical Word, Data Loss,Delimiter e.g. : + number","['/LG7963772039453845', 'CROSSRISING', 'RUA', ':', 'PAULOJOSEDASILVA', ',', 'CASA:59,AMOKES', 'LISBOAPORTU']",not found,not found
16,"/20735237119 Luis Ferrari Via Martiri del Padule, 367a Next to Zodda Cafe, 51036.0 Larciano, Italy",/20735237119,Luis Ferrari,"Via Martiri del Padule, 367a","Next to Zodda Cafe, 51036.0","Larciano, Italy",NaN,367a,NaN,Martiri del Padule,...,NaN,NaN,Italy,51036,NaN,8,Directive key words (instructions),"['/20735237119', 'Luis', 'Ferrari', 'Via', 'Martiri', 'del', 'Padule', ',', '367a', 'Next', 'to', 'Zodda', 'Cafe', ',', '51036.0', 'Larciano', ',', 'Italy']",italy,[Italy]
17,"/ZG284980033088 Georgio Lucca UNIT 301 949, NW OVERTON ST Portland, USA",/ZG284980033088,Georgio Lucca UNIT 301,"949, NW OVERTON ST","Portland, USA",NaN,NaN,949,NaN,NW OVERTON ST,...,NaN,NaN,USA,NaN,NaN,11,Street same line as name,"['/ZG284980033088', 'Georgio', 'Lucca', 'UNIT', '301', '949', ',', 'NW', 'OVERTON', 'ST', 'Portland', ',', 'USA']",usa,[United States]
18,"/916267963767 Martin Lopez CL 62 S, 81D 73 Colombia, 15-NOV-2017",/916267963767,Martin Lopez,"CL 62 S, 81D 73","Colombia, 15-NOV-2017",NaN,NaN,81D 73,NaN,CL 62 S,...,NaN,NaN,Colombia,NaN,NaN,14,dates,"['/916267963767', 'Martin', 'Lopez', 'CL', '62', 'S', ',', '81D', '73', 'Colombia', ',', '15-NOV-2017']",colombia,[Colombia]
19,SAME DAY RETURN OF FUNDS Jose Oliveira Rua Ursula Paulino 2060 Brazilia Brazil 30580-002,SAME DAY RETURN OF FUNDS,Jose Oliveira,Rua Ursula Paulino 2060,Brazilia Brazil 30580-002,NaN,NaN,2060,NaN,Ursula Paulino,...,NaN,NaN,Brazil,NaN,NaN,15,missing separators (Have only space as delimiter for all),"['SAME', 'DAY', 'RETURN', 'OF', 'FUNDS', 'Jose', 'Oliveira', 'Rua', 'Ursula', 'Paulino', '2060', 'Brazilia', 'Brazil', '30580', '-', '002']",brazil,[Brazil]
20,"/55314827347322078210 ChrisHarroldMobileMechanic Flat8,10BondStreet LondonW1S1SP14-OCT-2015",/55314827347322078210,ChrisHarroldMobileMechanic,"Flat8,10BondStreet",LondonW1S1SP14-OCT-2015,NaN,8,10,NaN,Bond,...,NaN,NaN,NaN,W1S1SP,NaN,"1,14","No delimiters, dates","['/55314827347322078210', 'ChrisHarroldMobileMechanic', 'Flat8,10BondStreet', 'LondonW1S1SP14-OCT-2015']",not found,not found
21,"/163741936 Heathrow Taxis 27 Green Road Nostank London, E6 10LT",/163741936,Heathrow Taxis,27 Green Road Nostank,"London, E6 10LT",NaN,NaN,27,NaN,Green,...,NaN,NaN,NaN,E6 10LT,NaN,"3,4,6","No country, Postcode country Specific, Nonsensical word","['/163741936', 'Heathrow', 'Taxis', '27', 'Green', 'Road', 'Nostank', 'London', ',', 'E6', '10LT']",not found,not found
22,"/32981553928063 MIKESCOTT APT9,1490,NW189T HWAY,TURNLEFTON2NDGATENEXTTOM ILANRESTAURANT,NEWYORK,NY",/32981553928063,MIKESCOTT,"APT9,1490,NW189T","HWAY,TURNLEFTON2NDGATENEXTTOM","ILANRESTAURANT,NEWYORK,NY",9,1490,NaN,NW 189TH WAY,...,NaN,NY,NaN,NaN,NaN,"1,7,8","no spaces, Broken Words so need to amend, Directive key words (instructions)","['/32981553928063', 'MIKESCOTT', 'APT9,1490,NW189', 'T', 'HWAY', ',', 'TURNLEFTON2NDGATENEXTTOM', 'ILANRESTAURANT', ',', 'NEWYORK', ',', 'NY']",not found,not found
23,"/HE24931526863494 Mcrwv Sltns SE Pinehurst Ave, Interve Dallas, US",/HE24931526863494,Mcrwv Sltns,"SE Pinehurst Ave, Interve","Dallas, US",NaN,NaN,NaN,NaN,SE Pinehurst Ave,...,NaN,NaN,US,NaN,NaN,"6,9,12","non sensical word, road abbreviated or abbreviations add, Data Loss","['/HE24931526863494', 'Mcrwv', 'Sltns', 'SE', 'Pinehurst', 'Ave', ',', 'Interve', 'Dallas', ',', 'US']",united states,[United States]
24,"/33518051 UMBRELLA PROJECT 151 DALE ST, LIVERPOOL SHOPERTURN, L2 2AH",/33518051,UMBRELLA PROJECT,"151 DALE ST, LIVERPOOL","SHOPERTURN, L2 2AH",NaN,NaN,151,NaN,DALE,...,NaN,NaN,NaN,L2 2AH,NaN,"2,6,3,9","Upper, No country, non sensical word, road abbreviated or abbreviations add","['/33518051', 'UMBRELLA', 'PROJECT', '151', 'DALE', 'ST', ',', 'LIVERPOOL', 'SHOPERTURN', ',', 'L2', '2AH']",sao tome and principe,[Sao Tome and Principe]
25,/655040557155379399 Poppies Photography NO:10 ST:Rifle St H. R. L. United Kingdom SSN087645,/655040557155379399,Poppies Photography,NO:10 ST:Rifle St,H. R. L. United Kingdom SSN087645,NaN,NaN,10,NaN,Rifle,...,NaN,NaN,NaN,NaN,NaN,"9,10,13,15","road abbreviated or abbreviations add, Sensitive information same line as address, Delimiter eg. : + Capital letter","['/655040557155379399', 'Poppies', 'Photography', 'NO:10', 'ST', ':', 'Rifle', 'St', 'H.', 'R.', 'L.', 'United', 'Kingdom', 'SSN087645']",united kingdom,[United Kingdom]
26,/PE63161238050 Advance Agro Public Co. Ltd. Tha Tum Si Maha Phot Dist Prachin Buri 25140 Thailand 01-NOV-2014,/PE63161238050,Advance Agro Public Co. Ltd.,Tha Tum Si Maha Phot,Dist Prachin Buri,25140 Thailand 01-NOV-2014,NaN,NaN,NaN,NaN,...,Si Maha Phot,Prachin Buri,Thailand,25140,NaN,"4,9,14,15","POSTCODE, dtype: int64, road abbreviated or abbreviations add, dates,missing separators (Have only space as delimiter for all)","['/PE63161238050', 'Advance', 'Agro', 'Public', 'Co.', 'Ltd.', 'Tha', 'Tum', 'Si', 'Maha', 'Phot', 'Dist', 'Prachin', 'Buri', '25140', 'Thailand', '01-NOV-2014']",thailand,[Thailand]
27,"/81557745887 Inficon Holding AG 2 Technology Pl, East Syrac use, 13057, USA, 01/11/1987",/81557745887,Inficon Holding AG,"2 Technology Pl,",East Syrac,"use, 13057, USA, 01/11/1987",NaN,2,Technology Pl,NaN,...,NaN,NaN,USA,13057,NaN,"4,5,7,14","POSTCODE, dtype: int64, No city, Broken Words so need to amend, Dates","['/81557745887', 'Inficon', 'Holding', 'AG', '2', 'Technology', 'Pl', ',', 'East', 'Syrac', 'use', ',', '13057', ',', 'USA', ',', '01/11/1987']",united states,[United States]
28,"/596648777 Cmpn Annm Ncnl Tlfns d Vnzl S.A. Calle:alencia, Ciudad:Puerto Cab ello, 2050, State:Carabobo Venezuela",/596648777,Cmpn Annm Ncnl Tlfns d Vnzl S.A.,"Calle:alencia, Ciudad:Puerto Cab","ello, 2050, State:Carabobo",Venezuela,NaN,NaN,NaN,Valencia,...,NaN,Carabobo,Venezuela,2050,NaN,"7,12,13","Delimiter eg. : + number, Broken Words so need to amend, Data Loss","['/596648777', 'Cmpn', 'Annm', 'Ncnl', 'Tlfns', 'd', 'Vnzl', 'S.A.', 'Calle', ':', 'alencia', ',', 'Ciudad', ':', 'Puerto', 'Cab', 'ello', ',', '2050', ',', 'State', ':', 'Carabobo', 'Venezuela']",venezuela,venezuela
29,/QM10481933092 Rada Electronic Industries Ltd. 100 20511 Seneca Meadows Pkwy turn to avenue next to track Licarpet lwr Germantown MD 20876,/QM10481933092,Rada Electronic Industries Ltd.,100 20511 Seneca Meadows Pkwy turn,to avenue next to track Licarpet,lwr Germantown MD 20876,100,20511,NaN,Seneca Meadows Pkwy,...,NaN,MD,NaN,20876,NaN,"3,6,8,15","No country, Remove e/ non sensical word, Directive key words (instructions), missing separators (Have only space as delimiter for all)","['/QM10481933092', 'Rada', 'Electronic', 'Industries', 'Ltd.', '100', '20511', 'Seneca', 'Meadows', 'Pkwy', 'turn', ' ', 'to', 'avenue', 'next', 'to', 'track', 'Licarpet', ' ', 'lwr', 'Germantown', 'MD', '20876']","moldova, republic of","[Moldova, Republic of]"
30,SAME DAY RETURN OF FUNDS Rio Tinto Ltd. 360 Collins St Melbourne VIC 3000 Australia,SAME DAY RETURN OF FUNDS,Rio Tinto Ltd.,360 Collins St Melbourne,VIC 3000 Australia,NaN,NaN,360,NaN,Collins Street,...,NaN,VIC,Australia,3000,NaN,"7,15","Broken Words so need to amend, missing separators (Have only space as delimiter for all)","['SAME', 'DAY', 'RETURN', 'OF', 'FUNDS', 'Rio', 'Tinto', 'Ltd.', '360', 'Collins', 'St', 'Melbourne', 'VIC', '3000', 'Australia']",australia,[Australia]
31,"/HI8858576602 SANTA ISABEL S.A, 10 CALLE STA ISABEL SANTIAGO CHILE",/HI8858576602,"SANTA ISABEL S.A, 10",CALLE STA ISABEL,SANTIAGO CHILE,NaN,NaN,10,NaN,Santa Isabel,...,NaN,NaN,Chile,NaN,NaN,"2,11","Upper, Street same line as name","['/HI8858576602', 'SANTA', 'ISABEL', 'S.A', ',', '10', 'CALLE', 'STA', 'ISABEL', ' ', 'SANTIAGO', 'CHILE']",chile,[Chile]
32,"/524834102338237 Jilin Chemical Industrial Co. Ltd. 699 3rd Rd, Changyi Qu, Jilin Shi China, PASS:LOt2r93!",/524834102338237,Jilin Chemical Industrial Co. Ltd.,"699 3rd Rd, Changyi Qu, Jilin Shi","China, PASS:LOt2r93!",NaN,NaN,699,NaN,3rd,...,Changyi Qu,NaN,China,NaN,NaN,"6,10","non sensical word, Sensitive information same line as address","['/524834102338237', 'Jilin', 'Chemical', 'Industrial', 'Co.', 'Ltd.', '699', '3rd', 'Rd', ',', 'Changyi', 'Qu', ',', 'Jilin', 'Shi', 'China', ',', 'PASS', ':', 'LOt2r93', '!']",china,[China]
33,"/0379194303 iXOS Software Aktiengesellschaft, Werner-von-Siemens-Ring, 85630, Mirefrequer Grasbrunn, Germany",/0379194303,"iXOS Software Aktiengesellschaft,","Werner-von-Siemens-Ring, 85630,","Mirefrequer Grasbrunn, Germany",NaN,NaN,20,NaN,Werner-von-Siemens-Ring,...,Grasbrunn,NaN,Germany,85630,NaN,"6,7,11","non sensical word, Broken words, Street same line as name","['/0379194303', 'iXOS', 'Software', 'Aktiengesellschaft', ',', 'Werner', '-', 'von', '-', 'Siemens', '-', 'Ring', ',', '85630', ',', 'Mirefrequer', 'Grasbrunn', ',', 'Germany']",germany,[Germany]
34,"/965306805 Kookmin Bank NUM:4 STREET:Hoenamu-ro, DIST:Yongsan-gu, Seoul, South Korea",/965306805,Kookmin Bank,"NUM:4 STREET:Hoenamu-ro,","DIST:Yongsan-gu, Seoul, South Korea",NaN,NaN,4,NaN,Hoenamu-ro,...,Yongsan-gu,NaN,South Korea,NaN,NaN,13,Delimiter eg. : + number OR Delimiter e.g. : + character,"['/965306805', 'Kookmin', 'Bank', 'NUM:4', 'STREET', ':', 'Hoenamu', '-', 'ro', ',', 'DIST', ':', 'Yongsan', '-', 'gu', ',', 'Seoul', ',', 'South', 'Korea']",south korea,south korea
35,"/DK5058739105 Imax Corp., 6685 S Padre Isla nd Dr, Corpus Christi, USA",/DK5058739105,"Imax Corp., 6685",S Padre Isla,"nd Dr, Corpus Christi, USA",NaN,NaN,NaN,NaN,6685,...,S Padre Island Dr,NaN,USA,NaN,NaN,"5,7,11","No city, Broken Words so need to amend, Street same line as name","['/DK5058739105', 'Imax', 'Corp.', ',', '6685', 'S', 'Padre', 'Isla', 'nd', 'Dr', ',', 'Corpus', 'Christi', ',', 'USA']",usa,[United States]
36,/8147938496534688 KianGuest 124LindowDrNewYork NY13905USA,/8147938496534688,KianGuest,124LindowDrNewYork,NY13905USA,NaN,NaN,123,NaN,Lindow Dr,...,NaN,NaN,USA,NY13905,NaN,1,no delimiter,"['/8147938496534688', 'KianGuest', '124LindowDrNewYork', 'NY13905USA']",not found,not found
37,/189494910052271 LUCIANO FLYNN 535 SOUTH ST NY NEW YORK 13746 USA,/189494910052271,LUCIANO FLYNN,535 SOUTH ST NY,NEW YORK 13746 USA,NaN,NaN,535,NaN,South street,...,NaN,NaN,USA,NY13746,NaN,2,all capital letters,"['/189494910052271', 'LUCIANO', 'FLYNN', '535', 'SOUTH', 'ST', 'NY', 'NEW', 'YORK', '13746', 'USA']",usa,[United States]
38,"/1811328485809 Wimbledon Art Studios 10, Riverside Rd London, SW17 0BB",/1811328485809,Wimbledon Art Studios,"10, Riverside Rd","London, SW17 0BB",NaN,NaN,10,NaN,Riverside Rd,...,NaN,NaN,NaN,SW17 0BB,NaN,3,no country,"['/1811328485809', 'Wimbledon', 'Art', 'Studios', '10', ',', 'Riverside', 'Rd', 'London', ',', 'SW17', '0BB']",not found,not found
39,/GX612635189402066052 Ms T. Globelle Paragon Productions/ PO Box 5404/ Los Angeles/ CA 90210/ USA,/GX612635189402066052,Ms T. Globelle,Paragon Productions/ PO Box 5404/,Los Angeles/ CA 90210/ USA,NaN,NaN,NaN,NaN,NaN,...,NaN,Los Angeles,USA,NaN,5404,4,po box and country,"['/GX612635189402066052', 'Ms', 'T.', 'Globelle', 'Paragon', 'Productions/', 'PO', 'Box', '5404/', 'Los', 'Angeles/', 'CA', '90210/', 'USA']",united states,[United States]
40,"/04309517808710169108 Google 601, N 34th St WA 98103, United States",/04309517808710169108,Google,"601, N 34th St","WA 98103, United States",NaN,NaN,601,NaN,North 34th street,...,NaN,NaN,United states,WA 98103,NaN,5,no city,"['/04309517808710169108', 'Google', '601', ',', 'N', '34th', 'St', 'WA', '98103', ',', 'United', 'States']",united states,[United States]
41,/101286376861 Charlottenborg Palace Nyhavn 1051 Kbenhavn K Denmark,/101286376861,Charlottenborg Palace,Nyhavn,1051 Kbenhavn K Denmark,NaN,NaN,2,Charlottenborg Palace,Nyhavn,...,Kbenhavn K,NaN,Denmark,1051,NaN,7,missing parts of word (nonsense words),"['/101286376861', 'Charlottenborg', 'Palace', 'Nyhavn', '1051', 'Kbenhavn', 'K', 'Denmark']",denmark,[Denmark]

In [34]:
addresses = df2["ex_Ad"]
address_list = addresses.tolist()

result_dict = {}
for address in addresses:
    result_list.update({address : countryFinder(address).lower()})
    
count = 0


for result in result_dict:
    if result.get(address_list[count]) == 'not found':
        x = parse_address(address_list[count])
        for (y,z) in x:
            if z == 'country':
                result_list[address_list[count]] = y 
    count+=1

print(result_list)

AttributeError: 'list' object has no attribute 'update'

In [33]:
addresses = df2["ex_Ad"]
address_list = addresses.tolist()

result_dict = {}
for address in addresses:
    result_dict.update({address : countryFinder(address).lower()})
    
count = 0

for result in result_dict:
    print(result)
    if result.get(address_list[count]) == 'not found':
        x = parse_address(address_list[count])
        for (y,z) in x:
            if z == 'country':
                result_list[address_list[count]] = y 
    count+=1
    
count_2 = 0

for result in result_dict:
    if result.get(address_list[count]) == 'not found':
        x = get_country(address_list[count])
        result_list[address_list[count]] = x
        
    count_2+=1

print(result_list)

/22200984 SP 500 FLAGSHIP SL CMDV ONE BIG STREET WORLD T DE CENTER HACKNEY,CA 02411

AttributeError: 'str' object has no attribute 'get'